{% extends "base.front.html.twig" %}

{% block body %}
<main>
    <div class="introduction">
        <div class="intro-layer d-flex flex-column justify-content-center align-items-center">
            <p class="w-50 quotes"><i class="fas fa-quote-left"></i></p>
            <p class="w-50 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dicta
                similique voluptates magni incidunt.</p>
            <p class="w-50 text-right quotes"><i class="fas fa-quote-right"></i></p>
            <p class="w-50 text-right mt-2 mandela text-uppercase">Nelson Mandela</p>
        </div>
    </div>
    <section id="about">
        <div class="about container">
            <p class="text-uppercase about-title mt-5 text-center">à propos de nous</p>
        </div>
    </section>
</main>
{% endblock %}